node-red/flows.json
[
    {
        "id": "868e4cd7.9fc578",
        "type": "tab",
        "label": "Car Dashboards",
        "disabled": false,
        "info": ""
    },
    {
        "id": "88633c3e.1b273",
        "type": "tab",
        "label": "Notifications",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f017ed81.199d2",
        "type": "ui_tab",
        "name": "Tesla",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2cca3d1a.be10ba",
        "type": "ui_group",
        "name": "Charge Status",
        "tab": "f017ed81.199d2",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "51eafba7.ffc054",
        "type": "ui_group",
        "name": "Car Status",
        "tab": "f017ed81.199d2",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "ed12f72a.03fad",
        "type": "telegram bot",
        "botname": "pmb_tesla_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false,
        "info": "159696647614"
    },
    {
        "id": "acbce132.6eef4",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "405404f2.d8a094",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "94fe8f4d.0557d",
        "type": "function",
        "z": "868e4cd7.9fc578",
        "name": "make time remaining string",
        "func": "var t = global.get('state');\nvar remaining = msg.payload.split('.');\nvar minutes = Math.ceil(60 * Number(\".\" + remaining[1]));\nif(t[0] != 'charging'){\n    msg.payload = \"Not charging\";\n} else if(remaining[0] > 0){\n    msg.payload = `${remaining[0]} hours ${minutes} minutes`\n} else {\n    msg.payload = `${minutes} minutes`\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 740,
        "y": 220,
        "wires": [
            [
                "efe44f3.124a93"
            ]
        ]
    },
    {
        "id": "d09c3311.862ff",
        "type": "function",
        "z": "868e4cd7.9fc578",
        "name": "get time",
        "func": "var d = new Date();\nmsg.payload = d;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 400,
        "wires": [
            [
                "7b0d22a9.903e24"
            ]
        ]
    },
    {
        "id": "8491f8d1.1365f8",
        "type": "link out",
        "z": "868e4cd7.9fc578",
        "name": "topic-stored",
        "mode": "link",
        "links": [
            "cb1580bf.27615"
        ],
        "x": 475,
        "y": 360,
        "wires": []
    },
    {
        "id": "22bcecd8.fac734",
        "type": "switch",
        "z": "868e4cd7.9fc578",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "charge_limit_soc",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "usable_battery_level",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "battery_range_km",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "time_to_full_charge",
                "vt": "str"
            },
            {
                "t": "else"
            },
            {
                "t": "regex",
                "v": "charger_*",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 490,
        "y": 140,
        "wires": [
            [
                "dda683ce.b5166"
            ],
            [
                "3db79d48.c4c322"
            ],
            [
                "cc9cc37a.5f4a78"
            ],
            [
                "94fe8f4d.0557d",
                "4e84bee.72facc"
            ],
            [
                "5599954f.8ecf84"
            ],
            [
                "cc9cc37a.5f4a78"
            ]
        ]
    },
    {
        "id": "4123d5c1.d02dcc",
        "type": "mqtt in",
        "z": "868e4cd7.9fc578",
        "name": "",
        "topic": "teslamate/cars/1/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "acbce132.6eef4",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 120,
        "y": 140,
        "wires": [
            [
                "892aaba0.903858",
                "b4d01f3ae58283fa"
            ]
        ]
    },
    {
        "id": "892aaba0.903858",
        "type": "function",
        "z": "868e4cd7.9fc578",
        "name": "store topic",
        "func": "var short_topic = msg.topic.substring(17);\n\n// create object to be used by Grafana data source\nvar tmp = [];\ntmp.push(msg.payload);\ntmp.push(parseInt(new Date().getTime()));\nglobal.set(short_topic,tmp);\nmsg.topic = short_topic;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 140,
        "wires": [
            [
                "22bcecd8.fac734",
                "8491f8d1.1365f8",
                "d09c3311.862ff"
            ]
        ]
    },
    {
        "id": "ce57ad0f.660c1",
        "type": "switch",
        "z": "868e4cd7.9fc578",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "est_*",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "ideal_*",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "charger_actual_*",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "charger_power*",
                "vt": "str",
                "case": false
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 870,
        "y": 160,
        "wires": [
            [
                "ad15c026.1d1d6"
            ],
            [
                "6ab267e6.5e4b78"
            ],
            [
                "2ec008a.2fb84f8"
            ],
            [
                "23ca2a1b.ce5fce"
            ]
        ]
    },
    {
        "id": "5599954f.8ecf84",
        "type": "function",
        "z": "868e4cd7.9fc578",
        "name": "fill state table",
        "func": "var interesting = [\n    'state',\n    'odometer',\n    'locked',\n    'shift_state',\n    'is_user_present'\n    ];\nvar tmp = [];\nvar keys = global.keys().sort();\nfor (var key in keys ) {\n    //if(!interesting.includes(keys[key]))\n      //  next;\n    var t = global.get(keys[key]);\n    var row = {\n        \"key\": keys[key],\n        \"value\": t[0]\n    }\n    tmp.push(row);\n}   \nmsg.payload = tmp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 690,
        "y": 275,
        "wires": [
            [
                "366025db.df598a"
            ]
        ]
    },
    {
        "id": "4e84bee.72facc",
        "type": "link out",
        "z": "868e4cd7.9fc578",
        "name": "Charge time remaining",
        "links": [
            "cb1580bf.27615",
            "1e269adae001aa80"
        ],
        "x": 635,
        "y": 320,
        "wires": []
    },
    {
        "id": "cc9cc37a.5f4a78",
        "type": "calculator",
        "z": "868e4cd7.9fc578",
        "name": "",
        "inputMsgField": "payload",
        "outputMsgField": "payload",
        "operation": "round",
        "constant": "",
        "round": false,
        "decimals": 0,
        "x": 700,
        "y": 178,
        "wires": [
            [
                "ce57ad0f.660c1"
            ]
        ]
    },
    {
        "id": "7b0d22a9.903e24",
        "type": "simpletime",
        "z": "868e4cd7.9fc578",
        "name": "",
        "mydate": true,
        "myymd": true,
        "myyear": true,
        "mymonth": true,
        "mymonthn": true,
        "mydom": true,
        "mydoy": true,
        "myday": true,
        "myhourpm": true,
        "myhour": true,
        "mytime": true,
        "mytimes": true,
        "myminute": true,
        "myminutes": true,
        "mysecond": true,
        "mymillis": true,
        "myepoch": true,
        "myrawdate": true,
        "mypm": true,
        "x": 652,
        "y": 400,
        "wires": [
            [
                "37af1984.d722ae"
            ]
        ]
    },
    {
        "id": "366025db.df598a",
        "type": "ui_table",
        "z": "868e4cd7.9fc578",
        "group": "51eafba7.ffc054",
        "name": "State Table",
        "order": 3,
        "width": "8",
        "height": "16",
        "columns": [
            {
                "field": "key",
                "title": "Parameter",
                "width": "50%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "value",
                "title": "Value",
                "width": "45%",
                "align": "right",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 890,
        "y": 275,
        "wires": []
    },
    {
        "id": "efe44f3.124a93",
        "type": "ui_text",
        "z": "868e4cd7.9fc578",
        "group": "2cca3d1a.be10ba",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Time to Full Charge",
        "label": "Time to Full Charge",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1110,
        "y": 260,
        "wires": []
    },
    {
        "id": "ad15c026.1d1d6",
        "type": "ui_text",
        "z": "868e4cd7.9fc578",
        "group": "2cca3d1a.be10ba",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estimated battery range",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1070,
        "y": 100,
        "wires": []
    },
    {
        "id": "6ab267e6.5e4b78",
        "type": "ui_text",
        "z": "868e4cd7.9fc578",
        "group": "2cca3d1a.be10ba",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ideal battery range",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1050,
        "y": 140,
        "wires": []
    },
    {
        "id": "37af1984.d722ae",
        "type": "ui_text",
        "z": "868e4cd7.9fc578",
        "group": "51eafba7.ffc054",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last update time",
        "format": "{{msg.mydate}}, {{msg.mytime}}",
        "layout": "row-spread",
        "className": "",
        "x": 820,
        "y": 399,
        "wires": []
    },
    {
        "id": "2ec008a.2fb84f8",
        "type": "ui_text",
        "z": "868e4cd7.9fc578",
        "group": "2cca3d1a.be10ba",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "charger_actual_current",
        "label": "Charging current",
        "format": "{{msg.payload}} amps",
        "layout": "row-spread",
        "x": 1070,
        "y": 180,
        "wires": []
    },
    {
        "id": "23ca2a1b.ce5fce",
        "type": "ui_text",
        "z": "868e4cd7.9fc578",
        "group": "2cca3d1a.be10ba",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "charger_power",
        "label": "Charging power",
        "format": "{{msg.payload}} kw",
        "layout": "row-spread",
        "x": 1050,
        "y": 220,
        "wires": []
    },
    {
        "id": "3db79d48.c4c322",
        "type": "ui_gauge",
        "z": "868e4cd7.9fc578",
        "name": "Battery Level",
        "group": "2cca3d1a.be10ba",
        "order": 3,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Battery Level",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ffff09",
            "#00ff00",
            "#ff8000"
        ],
        "seg1": "20",
        "seg2": "80",
        "x": 690,
        "y": 133,
        "wires": []
    },
    {
        "id": "dda683ce.b5166",
        "type": "ui_gauge",
        "z": "868e4cd7.9fc578",
        "name": "",
        "group": "2cca3d1a.be10ba",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Charge Limit",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#000000",
            "#000000",
            "#000000"
        ],
        "seg1": "",
        "seg2": "",
        "x": 691,
        "y": 91,
        "wires": []
    },
    {
        "id": "b4d01f3ae58283fa",
        "type": "debug",
        "z": "868e4cd7.9fc578",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 240,
        "wires": []
    },
    {
        "id": "5bf1c557.464144",
        "type": "function",
        "z": "88633c3e.1b273",
        "name": "state changes",
        "func": "var new_state = msg.payload;\nvar previous_state = flow.get('state');\nflow.set('state',new_state);\n\n//FM if(new_state != 'driving' && previous_state != 'driving') \n//FM    return;\nif(previous_state == new_state)\n    return;\n    \nreturn {payload: `${msg.display_name} state changed from *${previous_state}* to *${new_state}*`}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\nflow.set('state','initial');\n",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 240,
        "wires": [
            [
                "9c5ce5be3fecb8fd"
            ]
        ]
    },
    {
        "id": "cb1580bf.27615",
        "type": "link in",
        "z": "88633c3e.1b273",
        "name": "process state changes",
        "links": [
            "8491f8d1.1365f8",
            "4e84bee.72facc"
        ],
        "x": 315,
        "y": 260,
        "wires": [
            [
                "d2f9760c298e9b2b"
            ]
        ]
    },
    {
        "id": "72d2c21.f2a2e3c",
        "type": "function",
        "z": "88633c3e.1b273",
        "name": "geofence",
        "func": "/* show when car enters and leaves geofences */\nif(msg.topic != 'geofence') return;\n\nvar previous_fence = flow.get('geofence');\nvar new_fence = msg.payload;\nflow.set('geofence',new_fence);\n\nif(previous_fence !== new_fence){\n    var txt = `${msg.display_name} `;\n    if(previous_fence !== \"\")\n        txt += `left Geofence *${previous_fence}*`;\n    if(new_fence !== \"\"){\n        if(previous_fence !== \"\")\n            txt += ' and ';\n        txt += `entered Geofence *${new_fence}*`;\n    }\n    return {payload: txt};\n} else return;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\nflow.set('geofence','');",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 200,
        "wires": [
            [
                "9c5ce5be3fecb8fd"
            ]
        ]
    },
    {
        "id": "1da8704b.f78728",
        "type": "inject",
        "z": "88633c3e.1b273",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Test from *Node\\-RED*",
        "payloadType": "str",
        "x": 640,
        "y": 880,
        "wires": [
            [
                "a9c28815.0191c"
            ]
        ]
    },
    {
        "id": "a9c28815.0191c",
        "type": "function",
        "z": "88633c3e.1b273",
        "name": "create Bot message",
        "func": "msg.payload = {\n    chatId: '1596966476',\n    type: 'message',    \n    content: msg.payload\n}\nmsg.payload.options = {parse_mode : \"MarkdownV2\"};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 880,
        "wires": [
            [
                "df6e0dc2.ac982"
            ]
        ]
    },
    {
        "id": "8094b1d4.32f968",
        "type": "function",
        "z": "88633c3e.1b273",
        "name": "Format message",
        "func": "return {\n    payload: {\n        chatId: '1596966476',\n        type: 'message',\n        content: msg.payload,\n        options: {parse_mode : \"MarkdownV2\"}\n    }\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 200,
        "wires": [
            [
                "eb20a524.af3ba",
                "498b720f2e72633d"
            ]
        ]
    },
    {
        "id": "dea66ad4.245ca",
        "type": "e-mail",
        "z": "88633c3e.1b273",
        "server": "mail.bloggs.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "joe@bloggs.com",
        "dname": "Email",
        "x": 1590,
        "y": 260,
        "wires": []
    },
    {
        "id": "df6e0dc2.ac982",
        "type": "telegram sender",
        "z": "88633c3e.1b273",
        "name": "Test sender",
        "bot": "ed12f72a.03fad",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1060,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "eb20a524.af3ba",
        "type": "telegram sender",
        "z": "88633c3e.1b273",
        "name": "Status messages",
        "bot": "ed12f72a.03fad",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1870,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "3c4e5526848f2f68",
        "type": "function",
        "z": "88633c3e.1b273",
        "name": "left open",
        "func": "/* show when car enters and leaves geofences */\n/* temporarly disable */\n//return;\n\nvar is_locked = (global.get('locked')[0]=='true');\nvar is_user_present = (global.get('is_user_present')[0]=='true');\n\nswitch (msg.topic) {\n    case 'is_user_present':\n    case 'locked':\n        node.log(`${msg.topic}: ${msg.payload} (locked: ${is_locked}, user_present: ${is_user_present})`);\n        if (msg.payload=='false' && !is_locked && !is_user_present){\n            return {payload: `${msg.display_name} has been *Left Open*`};\n        } else\n            return;\n        break;\n    default:\n        return;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\n",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 400,
        "wires": [
            [
                "9c5ce5be3fecb8fd"
            ]
        ]
    },
    {
        "id": "47bbcca1673495ba",
        "type": "delay",
        "z": "88633c3e.1b273",
        "name": "",
        "pauseType": "delay",
        "timeout": "60",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 920,
        "y": 400,
        "wires": [
            [
                "3c4e5526848f2f68",
                "8d254e5c10b88383"
            ]
        ]
    },
    {
        "id": "5b9a8f776d54adcf",
        "type": "debug",
        "z": "88633c3e.1b273",
        "name": "incoming msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 480,
        "wires": []
    },
    {
        "id": "8d254e5c10b88383",
        "type": "debug",
        "z": "88633c3e.1b273",
        "name": "delayed msg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 480,
        "wires": []
    },
    {
        "id": "5acfac7b75941806",
        "type": "debug",
        "z": "88633c3e.1b273",
        "name": "telegram text",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1570,
        "y": 420,
        "wires": []
    },
    {
        "id": "498b720f2e72633d",
        "type": "debug",
        "z": "88633c3e.1b273",
        "name": "telegram msg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1840,
        "y": 420,
        "wires": []
    },
    {
        "id": "aace9921bf74f5d5",
        "type": "switch",
        "z": "88633c3e.1b273",
        "name": "topic switch",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "update_available",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "update_version",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "version",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "scheduled_charging_start_time",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "geofence",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "state",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "time_to_full_charge",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "is_user_present",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "locked",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 9,
        "x": 670,
        "y": 260,
        "wires": [
            [
                "739c675e6845a965"
            ],
            [
                "739c675e6845a965"
            ],
            [
                "daa14a96b2188c9e"
            ],
            [
                "72fe6c69a20daadf"
            ],
            [
                "72d2c21.f2a2e3c"
            ],
            [
                "5bf1c557.464144"
            ],
            [
                "2996dc2ddd523214"
            ],
            [
                "47bbcca1673495ba",
                "3397232a6804d6d3"
            ],
            [
                "47bbcca1673495ba",
                "78c58ce05bd8c9a9"
            ]
        ]
    },
    {
        "id": "5ed7aa57ba46cfd8",
        "type": "telegram receiver",
        "z": "88633c3e.1b273",
        "name": "",
        "bot": "ed12f72a.03fad",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 700,
        "y": 680,
        "wires": [
            [
                "8bb933465c71cf55"
            ],
            [
                "56b154eef708893b"
            ]
        ]
    },
    {
        "id": "8bb933465c71cf55",
        "type": "debug",
        "z": "88633c3e.1b273",
        "name": "Authorized msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 918,
        "y": 650,
        "wires": []
    },
    {
        "id": "56b154eef708893b",
        "type": "debug",
        "z": "88633c3e.1b273",
        "name": "Unauthorized msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 928,
        "y": 750,
        "wires": []
    },
    {
        "id": "2996dc2ddd523214",
        "type": "function",
        "z": "88633c3e.1b273",
        "name": "charging status",
        "func": "var soc = global.get('battery_level')[0]\n\nvar previous = flow.get('time_to_full_charge');\nif((flow.get('state') != 'charging' && flow.get('state') != 'initial') || \n    previous.timeleft === msg.payload){\n        node.warn('returned from 1 ' + flow.get('state'))\n        return;\n}\nvar now = Math.round(Date.now()/1000);\nvar current = { timestamp: now, timeleft: msg.payload};\nvar remaining = msg.payload.split('.');\nvar minutes = Math.ceil(60 * Number(\".\" + remaining[1]));\n\n// If more than 1 hour remaining, print max 1 time per 15 minutes\nif(remaining[0] > 0 && (now - previous.timestamp)/60 <= 15)\n    return;\n// If less than 1 hour remaining, print max 1 time per 5 minutes\nif(remaining[0] == 0 && (now - previous.timestamp)/60 < 5)\n    return;\n    \nvar how_long = \"\";\nif(remaining[0] > 0){\n    how_long = `${remaining[0]} hours ${minutes} minutes`\n} else {\n    how_long = `${minutes} minutes`\n}\n\nvar eta = new Date((now + 3600 * msg.payload)*1000);\n\nflow.set('time_to_full_charge',current);\nreturn {payload:\n`${msg.display_name} battery at *${soc}%*\ntime to charge: *${how_long}*\nestimaged range: *${global.get('est_battery_range_km')[0]}* km\nETA: *${eta.toLocaleTimeString([], { hour: '2-digit', hour12: false, minute: '2-digit' })}*`.replace(/([+.\\(\\)])/g,\"\\\\$1\")\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\nflow.set('time_to_full_charge',{timestamp:0,timeleft:0});\n",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 280,
        "wires": [
            [
                "9c5ce5be3fecb8fd"
            ]
        ]
    },
    {
        "id": "3397232a6804d6d3",
        "type": "function",
        "z": "88633c3e.1b273",
        "name": "user present",
        "func": "var new_state = msg.payload;\nvar previous_state = flow.get('is_user_present');\nnew_state = msg.payload;\nflow.set('is_user_present',new_state);\n\nif(previous_state == new_state)\n    return;\n    \nreturn {payload: `${msg.display_name} driver is present: *${new_state}*`}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\nflow.set('is_user_present','initial');\n",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 320,
        "wires": [
            [
                "9c5ce5be3fecb8fd"
            ]
        ]
    },
    {
        "id": "78c58ce05bd8c9a9",
        "type": "function",
        "z": "88633c3e.1b273",
        "name": "locked",
        "func": "var new_state = msg.payload;\nvar previous_state = flow.get('locked');\nnew_state = msg.payload;\nflow.set('locked',new_state);\n\nif(previous_state == new_state)\n    return;\n    \nif (new_state=='true') {\n    return {payload: `${msg.display_name} is *locked*`};\n} else {\n    return {payload: `${msg.display_name} is *UNLOCKED*`};\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\nflow.set('locked','initial');\n",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 360,
        "wires": [
            [
                "9c5ce5be3fecb8fd"
            ]
        ]
    },
    {
        "id": "d2f9760c298e9b2b",
        "type": "function",
        "z": "88633c3e.1b273",
        "name": "car name",
        "func": "msg['display_name']=global.get('display_name')[0]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 260,
        "wires": [
            [
                "aace9921bf74f5d5",
                "5b9a8f776d54adcf"
            ]
        ]
    },
    {
        "id": "739c675e6845a965",
        "type": "function",
        "z": "88633c3e.1b273",
        "name": "version update avail",
        "func": "var update_available = flow.get('update_available');\nvar update_version = flow.get('update_version');\nvar current_version = global.get('version')[0];\n\nswitch (msg.topic) {\n    case 'update_available':\n        if (update_available == msg.payload)\n            return;\n        update_available = msg.payload;\n        flow.set('update_available', update_available);\n        break;\n    case 'update_version':\n        if (update_version == msg.payload)\n            return;\n        update_version = msg.payload;\n        flow.set('update_version', update_version);\n        break;\n}\n\nif (update_available == 'false')\n    return;\n\nif (current_version == update_version)\n    return;\n    \nif (update_version == '') \n    return;\n\n\nreturn { payload: `${msg.display_name} update to version *${update_version}* is available`.replace(/([.])/g,\"\\\\$1\")}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\nflow.set('update_available','false');\nflow.set('update_version','');",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 80,
        "wires": [
            [
                "9c5ce5be3fecb8fd"
            ]
        ]
    },
    {
        "id": "72fe6c69a20daadf",
        "type": "function",
        "z": "88633c3e.1b273",
        "name": "charging start time",
        "func": "var new_state = msg.payload;\nvar previous_state = flow.get('scheduled_charging_start_time');\nflow.set('scheduled_charging_start_time',new_state);\n\nif(previous_state == new_state)\n    return;\n    \nif(new_state == \"\")\n    return;\n\nvar date = new Date(new_state)\n    .toLocaleTimeString([], { hour: '2-digit', hour12: false, minute: '2-digit' });\n\nreturn {\n    payload: `${msg.display_name} charging start time scheduled at *${date}*`\n        .replace(/([.+\\(\\)])/g,\"\\\\$1\")\n};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\nflow.set('scheduled_charging_start_time','');\n",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 160,
        "wires": [
            [
                "9c5ce5be3fecb8fd"
            ]
        ]
    },
    {
        "id": "daa14a96b2188c9e",
        "type": "function",
        "z": "88633c3e.1b273",
        "name": "version updated",
        "func": "var new_state = msg.payload;\nvar previous_state = flow.get('version');\nflow.set('version',new_state);\n\nif(previous_state == '' || previous_state == new_state)\n    return;\n    \nreturn { payload: `${msg.display_name} updated to version *${new_state}*`}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\nflow.set('version','');\n",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 120,
        "wires": [
            [
                "9c5ce5be3fecb8fd"
            ]
        ]
    },
    {
        "id": "052f420b318a44d1",
        "type": "function",
        "z": "88633c3e.1b273",
        "name": "send raw events",
        "func": "node.warn(`Version update event: ${JSON.stringify(msg)}`);\ntxt = `${msg.display_name} raw event: ${JSON.stringify(msg)}`;\nreturn {\n    payload: txt.replace(/([{}.\\-_*])/g,\"\\\\$1\") \n};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\n",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 40,
        "wires": [
            [
                "9c5ce5be3fecb8fd"
            ]
        ]
    },
    {
        "id": "9c5ce5be3fecb8fd",
        "type": "function",
        "z": "88633c3e.1b273",
        "name": "nop",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 200,
        "wires": [
            [
                "8094b1d4.32f968",
                "5acfac7b75941806"
            ]
        ]
    }
]